.black {
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.cara-container {
  /* width: 20rem; */
  height: 60vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  /* width: 33.33%; */
  flex: 3;
}
